- name: delete tomcat
  file:
    path: '{{tomcat.dir}}/'
    state: absent
- name: create install dir
  file:
    path: '{{tomcat.dir}}'
    state: directory
- name: download tomcat from artifactory
  get_url: 
    validate_certs: no
    url: "{{tomcat.base_url}}/apache-tomcat-{{tomcat.version}}.tar"
    dest: "{{tomcat.installer_dir}}/apache-tomcat-{{tomcat.version}}.tar"
- name: 'extract tarball apache-tomcat-{{tomcat.version}}.tar'
  unarchive:
    remote_src: yes
    src: "{{tomcat.installer_dir}}/apache-tomcat-{{tomcat.version}}.tar"
    dest: './{{tomcat.install_dir}}'
- name: rename tomcat directory
  shell: mv "apache-tomcat-{{tomcat.version}}" '{{tomcat.dir}}'
- name: replace config file
  template: src=setenv.sh.j2 dest='{{tomcat.dir}}/bin/setenv.sh'

